<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446377015997-8n4a7bf3gtc2k03gpkepe1ah8rujvqte.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446377015997-8n4a7bf3gtc2k03gpkepe1ah8rujvqte</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>446377015997-dhikh7jh3bkjgdo7264v8cqf2ahddh1g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBQYJJgI_JBKktLhE4JrYSXAaDJCYxv9BA</string>
	<key>GCM_SENDER_ID</key>
	<string>446377015997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication13</string>
	<key>PROJECT_ID</key>
	<string>login-2b77f</string>
	<key>STORAGE_BUCKET</key>
	<string>login-2b77f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446377015997:ios:b00791e8ddf399cc4055d4</string>
</dict>
</plist>